@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.seatbox {
  height: 70vh;
  @apply m-2 grid w-5/6 grid-cols-4 text-xl
  transition-all duration-200 sm:w-2/4
  sm:text-2xl;
}
